* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.warper {
    width: 1520px;
}

.container {
    width: 70%;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 0, 0);
    height: 65px;
    position: fixed;
    top: 0;
    float: left;
    width: 70%;
    z-index: 9999;
}

.logo {
    display: flex;
    padding: 15px;
    margin-right: 20px;
}

.logo img {
    width: 220px;
}

.row {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 20px;
}

.fixed {
    margin-top: 125px;
}

.magin {
    margin-bottom: 20px;
}

.magin10 {
    margin-bottom: 10px;
}

.magin_right {
    margin-right: 2%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.search {
    border-radius: 13px;
    height: 30px;
    min-height: 30px;
    position: relative;
}

.search input {
    width: 220px;
    border-radius: 7px;
    border: 3px solid #ffff;
    height: 30px;
    min-height: 30px;
}

.search button {
    background-color: transparent;
    padding: 5px;
    border: none;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.search button:hover {
    color: rgb(255, 0, 0);
}

.synthetic {
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.synthetic:hover {
    color: blue;
}

.phone {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.users {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.users a {
    text-decoration: none;
    color: #000;
}

.users a:hover {
    color: rgb(255, 0, 0);
}

.txt {
    background: yellow;
    border-radius: 5px;
    padding: 5px;
}

.header {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    border-radius: 5px;
}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    background-color: #000;
    padding: 8px;
    position: fixed;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 70%;
    top: 65px;
    z-index: 9999;
}

.left {
    float: left;
    width: 74%;
}

.right {
    float: left;
    width: 24%;
}

.footer {
    font-size: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    display: grid;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    cursor: pointer;
    margin-top: 70px;
}

.footer_info {
    display: flex;
    align-items: center;
    gap: 250px;
    justify-content: center;
}

.infor_tg {
    text-align: center;
}

.conten_footer {
    display: grid;
}

.image_footer {
    display: flex;
    gap: 10px;
}

.sivers {
    text-align: center;
}

.certification {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 5px;
    margin-top: -47px;
}

.infor_tg p {
    font-weight: bold;
}

.certification img {
    width: 120px;
}

.certification img:nth-child(2) {
    width: 100px;
}

.sivers {
    background: repeating-linear-gradient(to right, red 0, rgb(9, 58, 237) 50%, red 100%);
    background-size: 200% auto;
    background-position: 0 100%;
    animation: 5s linear infinite forwards gradient;
    color: rgb(239, 239, 239);
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

@keyframes gradient {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -200% 0
    }
}

.title {
    color: black;
    font-weight: bold;
    padding: 10px;
    background-color: #eee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #ccc;
}

.title .cmd {
    display: inline-block;
    color: blue;
    cursor: pointer;
}

.title a {
    text-decoration: none;
    color: black;
}

.title i {
    margin-left: 7px;
    margin-right: 7px;
}

.title a:hover {
    color: red;
}

.content {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.contents {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footers {
    padding: 10px;
    background-color: #eee;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #ccc;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
    position: relative;
}

.icons {
    position: absolute;
    left: 0;
    top: 39%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
    cursor: pointer;
}

.iconst {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    top: 39%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
    cursor: pointer;
}

.banner img {
    height: 300px;
    margin-bottom: 20px;
}

.product {
    float: left;
    width: 32%;
    min-height: 320px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    animation: slidetop 1s ease forwards;
    animation-delay: calc(.2s* var(--i));
}

@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.product .star {
    color: #f59e0b;
    margin-left: 12px;
    margin-top: 9px;
}

.product .image {
    display: flex;
}

.product p {
    color: #e10d0d;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

.product del {
    margin-left: 5px;
    color: #544d4d;
}

.product h3 {
    color: #000;
    font-size: 15px;
    margin-left: 15px;
}

.product h3:hover {
    color: rgb(0, 0, 255);
}

.product a {
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.image img {
    width: 60%;
    height: 145px;
    margin-top: 10px;
    border-radius: 10px;
    transition: .4s;
}

.image:hover img {
    transform: scale(1.04);
}

.menu ul {
    padding: 0 15px;
    position: relative;
}

.menu marquee {
    width: 400px;
    position: absolute;
    top: 0;
    right: 75px;
    font-weight: bold;
    color: #d4fd0b;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #e8e0e0;
    font-weight: 600;
}

.menu ul li a:hover {
    color: yellow;
}

.menu ul li a:after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: red;
    border-radius: 4px;
    transition: .5s;
}

.menu ul li a:hover::after {
    width: 100%;
}


/* Box tài khoản */

.form {
    line-height: 150%;
}

.form input[type="text"],
.form input[type="password"],
.fromcontent input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.form input[type="checkbox"] {
    border-radius: 5px;
}

.form input[type="submit"],
.fromcontent input[type="submit"],
.fromcontent input[type="reset"],
.fromcontent input[type="button"] {
    border: 1px solid rgb(255, 3, 3);
    padding: 8px 10px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 1px #981e1e;
}

.form input[type="submit"]:hover,
.fromcontent input[type="submit"]:hover,
.fromcontent input[type="reset"]:hover,
.fromcontent input[type="button"]:hover {
    background-color: #33FF00;
    color: #f70505;
    border: 1px solid #33FF00;
}

.form li a {
    color: teal;
    text-decoration: none;
}

.form li a:hover {
    color: #060;
    text-decoration: underline;
}


/* Danh mục */

.chill ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chill ul li {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.chill ul li a {
    color: #666;
    text-decoration: none;
}

.chill ul li:hover {
    background-color: #ccc;
}

.searh input[type="text"] {
    width: 65%;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.searh input[type="submit"] {
    width: 30%;
    border: 1px solid rgb(249, 248, 248);
    color: #000;
    border-radius: 10px;
    padding: 4px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    margin-left: 6px;
}

.top img {
    width: 20%;
    height: 10%;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
}

.top a {
    color: #666;
    text-decoration: none;
}

.top a:hover {
    color: #000;
    text-decoration: underline;
}


/* Admin */

.header_Admin {
    background-color: #EEE;
    border: 1px #EEE solid;
    color: rgb(235, 8, 8);
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

.header_Admin h1 {
    font-size: 1.5vw;
}

.headers {
    background-color: #EEE;
    border: 1px #EEE solid;
    color: rgb(19, 12, 214);
    border-radius: 5px;
    padding: 0px 20px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
}

.headers h1 {
    font-size: 1.2vw;
}


/* Loại hàng */

.Loaihang table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;
    margin-top: 20px;
    text-align: center;
}

.Loaihang table th {
    padding: 15px;
    background-color: #29d660;
}

.Loaihang table td {
    padding: 10px 20px;
    border: 1px solid #999;
}

.conts_bl {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Loaihang table td:nth-child(6) {
    width: 30%;
}

.Loaihang table td:nth-child(7) {
    width: 140px;
}

.menu .active {
    color: yellow;
}

.users .active {
    color: red;
    text-align: center;
    margin-top: 19px;
}


/* PHP */

.images {
    text-align: center;
}

.imagest {
    text-align: center;
    margin-top: 20px;
}

.imagest img {
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

.images img {
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

.kind img {
    width: 10%;
    height: 10%;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px;
}

.kind a {
    color: #ff0707;
    font-weight: bold;
    text-decoration: none;
}

.kind a:hover {
    color: #000;
    text-decoration: underline;
}

.register {
    display: grid;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.kt {
    text-align: center;
}

.kt input {
    width: 300px;
    border: 2px solid rgb(6, 112, 241);
    padding: 12px 10px;
    border-radius: 50px;
    font-size: 15px;
    color: rgb(6, 112, 241);
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    background-color: transparent;
    transition: 0.5s ease-in-out;
}

.kt input:hover {
    color: rgb(5, 5, 6);
    background-color: rgb(6, 112, 241);
}

.group {
    margin-top: 10px;
}

.thongbao h2 {
    font-size: 14px;
    color: red;
    margin-top: 20px;
}

.product_right {
    width: 100%;
    height: 650px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    margin-bottom: 20px;
}

.form-control {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.kt input:hover {
    color: rgb(5, 5, 6);
    background-color: rgb(6, 112, 241);
}

.group {
    padding: 6px;
}

.kt {
    text-align: center;
}

.sp {
    text-align: center;
    padding-top: 15px;
}

.sp>a {
    color: rgb(255, 0, 38);
    text-decoration: none;
}

.sp>a:hover {
    color: blue;
    font-weight: bold;
}


/* Phần User */

.image_user img {
    width: 170px;
    margin-bottom: 10px;
}

.product_left {
    left: 237px;
    top: 130px;
    border-radius: 10px;
    width: 300px;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.child {
    width: 250px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.child a {
    margin-left: 10px;
    text-decoration: none;
    color: #080808;
    font-size: 1em;
    font-weight: bold;
}

.child a:hover {
    color: rgb(38, 0, 253);
}

.child li {
    list-style: none;
    display: inline-block;
}

.child .active {
    color: rgb(255, 21, 0);
}

.product_rightst {
    padding: 10px;
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.product_rights {
    margin-top: 53px;
    margin-right: 100px;
    width: 500px;
    height: auto;
    float: right;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    margin-bottom: 50px;
}

.conts {
    text-align: center;
}

.conts h4 {
    text-align: center;
    font-size: 17px;
}



.smember_info {
    display: grid;
    width: 400px;
    margin-top: -75px;
    margin-bottom: 30px;
}

.smember {
    display: flex;
    margin-bottom: 30px;
}

.date,
.member_class,
.point {
    text-align: center;
    font-size: 18px;
}

.smember i {
    margin-top: 10px;
    font-size: 30px;
    color: red;
}

.smember h6 {
    margin-top: 12px;
    font-size: 15px;
}

.float-contact_back {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
    width: 190px;
    border-radius: 5px;
}

.back_top {
    position: fixed;
    right: 0;
    background-color: #ff0000;
    border-radius: 10px;
    margin-right: 40px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
    bottom: 0;
}

.back_top a {
    text-decoration: none;
    display: grid;
    color: #fff;
    padding: 5px;
    font-size: 13px;
}

.active {
    bottom: 15px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-10px);
}

.list-button {
    position: relative;
    width: 40px;
    height: 40px;
    /* background-color: #0099FF; */
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
}

.list-button span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(70deg, rgb(4, 58, 255) 0, rgb(242, 0, 255) 50%, rgb(254, 2, 2) 100%);
    opacity: .8;
    animation: pulse-blue 4s ease-out infinite;
    animation-delay: calc(1s*var(--i));
    background-size: 200% auto;
    background-position: 0 100%;
}

.list-button a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    opacity: 1;
    cursor: pointer;
    z-index: 999;
}


/* .list-button a:hover {
    color: rgb(0, 0, 0);
} */

@keyframes pulse-blue {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}


/* Thông báo khi load trang */


/* .notification {
    display: none;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background: repeating-linear-gradient( to right, #d000f7 0, #24bae3 25%, #09e252 50%, #f60e0e 75%, #d000f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    font-size: 15px;
    z-index: 99999;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    to {
        top: 15%;
    }
}

.notification h1 {
    margin-top: -5px;
}

.notification img {
    width: 70px;
} */


/* liên hệ */

.contact_s {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address p {
    padding: 7px;
    margin-left: -90px;
}

.img img {
    display: flex;
    width: 200px;
}

.address label {
    display: block;
    margin-bottom: 10px;
}

.address input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.address button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.address button:hover {
    background-color: #0056b3;
}


/* Chi tiết sp */

.prodc {
    width: 400px;
    float: left;
    padding: 10px 20px;
    border-radius: 5px;
}

.carts {
    display: flex;
    margin-top: 80px;
}

.phienban {
    display: grid;
    border-radius: 10px;
    border: 2px solid #ff0000;
    width: 150px;
}

.phienbans {
    display: grid;
    border-radius: 10px;
    border: 2px solid #c3bdbd;
    width: 150px;
}

.pay .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    border: 2px solid red;
    width: 60px;
    float: right;
    height: 50px;
    padding: 0;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    padding-left: 30px;
}
.cart i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
.cart i giohang {
    width: 59px;
    height: 49px;
    border: 1px solid red;
    border-radius: 15px;
}
.pay button {
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: red;
    border: 1px solid red;
    width: 250px;
    float: right;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 8px;
    font-size: 17px;
}

.tragop button:nth-child(1) {
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: rgb(60, 0, 255);
    border: 1px solid rgb(38, 0, 255);
    width: 160px;
    float: right;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 17px;
}

.tragop button:nth-child(2) {
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: rgb(0, 17, 255);
    border: 1px solid rgb(47, 0, 255);
    width: 160px;
    float: right;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 17px;
}

.timhieu button {
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: rgb(255, 157, 0);
    border: 1px solid rgb(255, 179, 0);
    width: 328px;
    float: right;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 17px;
}

@media screen and (max-width:767px) {
    .warper {
        width: 570px;
        height: 100vh;

    }

    .container {
        width: 100%;
    }

    header {
        display: flex;
        align-items: center;
        background-color: rgb(255, 51, 51);
        height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        font-size: 15px;
    }

    .logo {
        display: flex;
        padding: 15px;
    }

    .logo img {
        width: 130px;
    }

    .row {
        float: left;
        width: 100%;

    }

    .search {
        border-radius: 13px;
        height: 30px;
        min-height: 30px;
        position: relative;
        margin-left: -20px;
    }

    .search input {
        width: 120px;
        border-radius: 7px;
        border: 3px solid #ffff;
        height: 30px;
        min-height: 30px;
    }

    .phone {
        display: none;
    }

    .banner {
        width: 100%;
    }

    .banner img {
        width: 480px;
        height: 200px;
    }

    .icons {
        position: absolute;
        left: 0;
        top: 29%;
        right: 93%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
        cursor: pointer;
        font-size: 15px;
    }

    .iconst {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 3px;
        top: 29%;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
        cursor: pointer;
        font-size: 15px;
    }

    .menu {
        background-color: #000;
        padding: 15px;
        position: fixed;
        width: 100%;
        top: 50px;
        z-index: 9999;
    }

    .left {
        float: left;
        width: 100%;
    }

    .right {
        float: left;
        display: none;
    }

    .product {
        float: left;
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
        width: 45%;
        margin-left: 14px;
        min-height: 350px;
    }

    .product .star {
        color: #f59e0b;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 9px;
    }

    .product .image {
        display: flex;
    }

    .product p {
        color: #e10d0d;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 15px;
    }

    .product del {
        margin-left: 5px;
        color: #544d4d;
        font-size: 15px;
    }

    .product h3 {
        color: #000;
        font-size: 15px;
        margin-left: 10px;
    }

    .product h3:hover {
        color: rgb(0, 0, 255);
    }

    .product a {
        text-decoration: none;
        margin-left: 10px;
        font-weight: bold;
    }

    .image img {
        width: auto;
        height: 128px;
        margin-top: 10px;
        border-radius: 10px;
        transition: .4s;
    }

    .image:hover img {
        transform: scale(1.04);
    }
}


/* Loader */

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: absolute;
    background-color: transparent;
    width: 100%;
    z-index: 99999;
}

.loader {
    border: 7px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    z-index: 99999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* cart css */


.thongtinnhanhang tr td {
    text-align: left;
    padding: 10px;
}

.thongtinnhanhang input {
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px;
    border-radius: 5px;
}

#bill input[type="submit"] {
    position: unset;
    width: 150px;
    border: 1px #F90 solid;
    background-image: linear-gradient(#F90, #F60);
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
}

.dongy:hover {
    background-image: linear-gradient(#F30, #000);
}

.cart-title {
    margin: 20px 0px;
    font-size: 1.9vw;
    color: #F60;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}
.cart-table th {
    background-color: #999;
    padding: 10px;
}
.cart-table th,
td{
    border: 1px #CCC solid;
    text-align: center;
}
.total{
    width: calc(100% - 20px);
    padding: 0px 10px;
    text-align: right;
}
.th-total{
    width: calc(100% - 10px);
    padding: 0px 5px;
    text-align: right;
    font-size: 1.5rem;
}
.image-cart img{
    width: 100px;
}
.button-cart input {
    
        text-align: center;
        color: #fff;
        font-weight: bold;
        background-color: rgb(255, 157, 0);
        border: 1px solid rgb(255, 179, 0);
        width: 328px; 
        height: 40px;
        padding: 10px;
        border-radius: 15px;
        margin-top: 10px;
        margin-right: 8px;
        font-size: 17px;
    
}